:root {
  --color-sub-heading: hsl(276, 100%, 81%);
  --color-left-chat: hsl(276, 55%, 52%);
  --color-right-chat: hsl(271, 15%, 43%);
  --color-placeholder-text: hsl(206, 6%, 79%);
  --color-main-heading: hsl(271, 36%, 24%);
  --color-paragraph: hsl(270, 7%, 64%);
  --color-gradient-magenta: hsl(293, 100%, 63%);
  --color-gradient-violet: hsl(264, 100%, 61%);
  --color-white: hsl(0, 0%, 100%);
  --color-app-bg: hsl(270, 20%, 96%);
  --color-submit-bg: hsl(271, 36%, 24%);
  --color-radio-outline: hsl(289, 100%, 72%);
  --color-chat-incoming-bg: #ede5f3;

  --fw-1: 400;
  --fw-2: 500;
  --fw-3: 700;

  --fs-heading: 2.6rem;
  --fs-body: 1rem;
  --fs-chat-price: 0.8rem;
  --fs-name: 0.7rem;
  --fs-chat-message: 0.525rem;

  --line-height-body: 1.55rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--color-app-bg);
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;
  gap: 2rem;
}

.illustration {
  display: flex;
  justify-content: end;
}

.phone {
  background-color: white;
  width: 15.5rem;
  border-radius: 2rem;
  font-size: var(--fs-chat-message);
  padding: 0.6rem;
  position: relative;
  box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.25);
  margin-right: 5.9rem;
}

.phone::after {
  content: "";
  display: block;
  position: absolute;
  width: 55%;
  background-color: white;
  height: 1.6rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 1rem 1rem;
  z-index: 2;
}

/*PHONE HEADER STYLING */
.phone__header {
  background: linear-gradient(to left, var(--color-gradient-magenta), var(--color-gradient-violet));
  padding: 1rem;
  padding-top: 1.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  align-items: center;
  border-radius: 1.4rem 1.4rem 0.5rem 0.5rem;
  z-index: 1;
  position: relative;
}

.back-btn {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  margin-right: 0.4rem;
  position: relative;
}

.back-btn::after,
.back-btn::before {
  position: absolute;
  display: block;
  content: "";
  width: 10%;
  height: 35%;
  left: 50%;
  background-color: var(--color-white);
}

.back-btn::before {
  top: 0.55rem;
  transform: translateX(-50%) rotate(155deg);
}

.back-btn::after {
  top: 0.3rem;
  transform: translateX(-50%) rotate(25deg);
}

.profile-img {
  width: 1.5rem;
  border-radius: 100%;
  border: 2px solid var(--color-white);
  margin-right: 0.5rem;
}

.profile__name {
  font-size: var(--fs-name);
  font-weight: var(--fw-3);
  color: var(--color-white);
}

.options-btn {
  width: 0.15rem;
  height: 0.5rem;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.options-btn__dot {
  height: 0.1rem;
  width: 100%;
  background-color: var(--color-white);
}
.profile__availability {
  color: var(--color-sub-heading);
}

/* CHAT STYLING */
.phone__chat {
  background-color: var(--color-app-bg);
  padding: 0.5rem;
  padding-top: 0.75rem;
  position: relative;
  top: -0.25rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.message {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  max-width: 62%;
  font-size: var(--fs-chat-message);
}

.message-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.message-group--incoming {
  align-self: start;
}

.message-group--incoming > .message {
  color: var(--color-left-chat);
  background-color: var(--color-chat-incoming-bg);
}

.message-group--sent {
  align-items: flex-end;
  align-self: end;
}

.message-group--sent > .message {
  color: var(--color-right-chat);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 65%;
  gap: 0.5rem;
}

.photos img {
  width: 100%;
  border-radius: 0.5rem;
}

.offer {
  background: linear-gradient(to right, var(--color-gradient-magenta), var(--color-gradient-violet));
  max-width: 75%;
  padding: 0.5rem 0.5rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  color: var(--color-white);
  border-radius: 0.5rem;
}

.offer__radio {
  height: 0.7rem;
  width: 0.75rem;
  background-color: transparent;
  border: 1px solid var(--color-radio-outline);
  border-radius: 100%;
  margin-right: 0.5rem;
}

.offer__price {
  font-weight: var(--fw-3);
  font-size: var(--fs-chat-price);
  margin-left: auto;
}

.input {
  background-color: var(--color-white);
  padding: 0.75rem;
  border-radius: 1rem;
  position: relative;
}

.input__text {
  color: var(--color-placeholder-text);
}

.input__btn {
  position: absolute;
  top: 50%;
  right: 0.3rem;
  transform: translateY(-50%);
  background-color: var(--color-submit-bg);
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
}

.input__btn::after,
.input__btn::before {
  position: absolute;
  display: block;
  content: "";
  width: 15%;
  height: 35%;
  left: 50%;
  background-color: var(--color-white);
}

.input__btn::before {
  top: 0.6rem;
  transform: translateX(-50%) rotate(45deg);
}

.input__btn::after {
  top: 0.3rem;
  transform: translateX(-50%) rotate(135deg);
}

/* BODY STYLING*/
.body__heading {
  font-size: var(--fs-heading);
  font-weight: var(--fw-2);
  color: var(--color-main-heading);
  margin-bottom: 1.5rem;
}

.body__paragraph {
  font-size: var(--fs-body);
  line-height: var(--line-height-body);
  color: var(--color-paragraph);
  max-width: 28rem;
}
